<h1>Pictures</h1>

<% if (@user == current_user) || (@nonprofit.present? && @nonprofit.users.include?(current_user)) %>
  <%= form_for @picture, url: { controller: "pictures", action: "create" } do |f| %>
    <p>
      <%= f.file_field :image %>
    </p>
    <p><%= f.submit %></p>
  <% end %>
<% end %>

<% @pictures.each do |picture| %>
  <% if params[:user_id].present? %>
    <%= link_to image_tag(picture.image_url(:thumb).to_s), user_picture_path(@user, picture) %>
  <% else %>
    <%= link_to image_tag(picture.image_url(:thumb).to_s), nonprofit_picture_path(@nonprofit, picture) %>
  <% end %>
<% end %>
