<div class="row">
  <div class="col-md-6">    
    <h2>Edit Nonprofit</h2>
    
    <%= form_for(@nonprofit, url: nonprofit_path, html: { method: :put } ) do |f| %>
      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Update nonprofit name" %>
      </div>
      
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", placeholder: "Update email" %>
      </div>
      
      <div class="form-group">
        <%= f.label :website %><br />
        <%= f.url_field :website, class: "form-control", placeholder: "Update website" %>
      </div>
      
      <div class="form-group">
        <%= f.label :phone %><br />
        <%= f.phone_field :phone, class: "form-control", placeholder: "Update phone number" %>
      </div>
      
      <% @nonprofit.social_profile ||= SocialProfile.new %>
      <%=f.fields_for :social_profile do |social_profile_form| %>
        <div class="form-group">
          <%= social_profile_form.label :facebook, "Facebook Profile" %><br />
          <%= social_profile_form.url_field :facebook, class: "form-control", placeholder: "Update Facebook URL" %>
        </div>
        
        <div class="form-group">
          <%= social_profile_form.label :twitter, "Twitter Profile" %><br />
          <%= social_profile_form.url_field :twitter, class: "form-control", placeholder: "Update Twitter URL" %>
        </div>
        
        <div class="form-group">
          <%= social_profile_form.label :instagram, "Instagram Profile" %><br />
          <%= social_profile_form.url_field :instagram, class: "form-control", placeholder: "Update Instagram URL" %>
        </div>
        
        <div class="form-group">
          <%= social_profile_form.label :linked_in, "LinkedIn Profile" %><br />
          <%= social_profile_form.url_field :linked_in, class: "form-control", placeholder: "Update LinkedIn URL" %>
        </div>
      <% end %>
      
      <div class="actions">
        <%= f.submit "Update Nonprofit Profile", class: "btn btn-success" %>
      </div>
      
    <% end %>
  </div>
</div>

