<!DOCTYPE html>
<html>
<head>
  <title>Ctg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <ul class='nav nav-tabs'>
      <li><%= link_to 'About', welcome_about_path, class: 'navbar-link' %></li>
      <li><%= link_to 'Research', welcome_research_path, class: 'navbar-link' %></li>
      <li><%= link_to 'Contact', welcome_contact_path, class: 'navbar-link' %></li>
  
      <ul class='nav nav-tabs navbar-right'>
        <% if user_signed_in? %>
          <li><%= link_to 'Home', root_path, class: 'navbar-link' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Nonprofits <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% current_user.nonprofits.each do |nonprofit| %>
                <li><%= link_to "#{nonprofit.name}", nonprofit_path(nonprofit) %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
        
        <% else %>

          <li><%= link_to 'Sign Up', new_user_registration_path, class: 'navbar-link' %></li>
          <li><%= link_to 'Log In', new_user_session_path, class: 'navbar-link' %></li>
        <% end %>
      </ul>
    </ul>
      
    <% flash.each do |key, message| %>
      <div id="flash-<%= key %>" class="flash-<%= key %>">
      <%= message %>
      </div>
    <% end %>
    
<%= yield %>
  </div>
</body>
</html>
