<div class="row">    
  <div class="col-md-6">  
    <h2>Edit Profile</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "Update first name" %>
      </div>
      
      <div class="form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, class: "form-control", placeholder: "Update last name" %>
      </div>
    
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", placeholder: "Update email" %>
      </div>
      
        <% @user.social_profile ||= SocialProfile.new %>
        <%= f.fields_for :social_profile do |social_profile_form| %>
        <div class="form-group">
          <%= social_profile_form.label :facebook, "Facebook Profile" %><br />
          <%= social_profile_form.url_field :facebook, class: "form-control", placeholder: "Update Facebook URL" %>
        </div>
        
        <div class="form-group">
          <%= social_profile_form.label :twitter, "Twitter Profile" %><br />
          <%= social_profile_form.url_field :twitter, class: "form-control", placeholder: "Update Twitter URL" %>
        </div>
        
        <div class="form-group">
          <%= social_profile_form.label :instagram, "Instagram Profile" %><br />
          <%= social_profile_form.url_field :instagram, class: "form-control", placeholder: "Update Instagram URL" %>
        </div>
        
        <div class="form-group">
          <%= social_profile_form.label :linked_in, "LinkedIn Profile" %><br />
          <%= social_profile_form.url_field :linked_in, class: "form-control", placeholder: "Update LinkedIn URL" %>
        </div>
      <% end %>
      
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        
      <div class="form-group">  
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, class: "form-control", placeholder: "Enter new password" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", required: false, class: "form-control", placeholder: "Confirm new password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Update profile", class: "btn btn-success"  %>
      </div>
    <% end %>
    
    <h3>Cancel my account</h3>
    
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  </div>
</div>